.admin-ps-heading span {
	display: inline-block;
}
.admin-thumb-list {
	width: 60px;
	float: left;
	margin-right: 10px;
}
.admin-thumb-detail {
	float: left;
}
.admin-title {
	margin-top: 0;
	font-size: 24px;
}
textarea {
	min-height: 66px;
}
.admin-u-rows,
.admin-p-rows {
	padding: 6px 0;
	margin: 6px 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	&:after {
		display: table;
		content: "";
		clear: both;
	}
}
.checkbox-label {
	display: block;
}
p.form-label {
	margin: 13px 0 0 0;
	font-weight: bold;
}
footer {
	padding: 100px 0 20px;
}
.form-inline .form-group-sm {
	padding: 3px 0;
	margin: 3px 0;
}
.category {
	display: inline-block;
	padding: 3px 6px;
}











