#home {
  h1 {
    margin-top: 50px;
    text-align: center;
  }
  .fullwidth-banner {
    padding-top: 50px;
    position: relative;
  	height: 700px;
  	
    xbackground: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('http://t.wallpaperweb.org/wallpaper/development/1920x1200/Coffee_Tea_80.jpg') no-repeat top fixed;

    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('/images/coffee-and-tea.jpg') no-repeat top fixed;

    xbackground: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url('/images/coffee-in-green.jpg') no-repeat 30% 70% fixed;

  	.banner-info {
      padding: 30px;
      background-color: rgba(255, 255, 255, 0.5);
  		position:absolute;
  		top:10%;
  		left:10%;
  		color: #333;
  		font-weight:300;

  		.heading{
  			font-size: 80px;
  			line-height: 80px;
  		}
  		.sub-heading{
  			font-size: 35px;
  			line-height:40px;
  		}

  	}

    .banner-info-center {
      background-color: rgba(255, 255, 255, 0.5);
      margin: 0 auto;
      text-align: center;
      width: 40%;
      padding: 20px 0;
      color: #000;
      font-weight: 300;
      .heading{
        font-size: 70px;
        line-height: 70px;
      }
      .sub-heading{
        font-size: 40px;
        line-height:40px;
      }
    }
  }

  .promo {
  	height:300px;
  	background: #000;

  	h1{
      font-weight: 300;
  		color:#fff;
  	}
  	p{
  		color:#fff;

  	}
    .promo-btn {
      font-size: 20px;
      font-weight: 300;
      padding: 10px 20px;
      border: 0;
    }
  }

  .promo-btn {
      font-size: 20px;
      font-weight: 300;
      padding: 10px 20px;
      border: 0;
    }

  .featured-product {
    padding:70px 0;

    &.black-bg {
      background: #000;
      h1, p {
        color:#fff;
      }
    }

  	&.light-gray-bg{
  		background: #eee;
  	}

    	.product-info,
    	.product-info h1,
    	.product-info h2{
    		text-align: left;
    	}

    	.img-holder{

    	}
  }

  footer{
  	height: 300px;
  	background: #333;
  }
}

