<div class="panel panel-default">
	<div class="panel-heading">
	
		<h3 class="admin-title">All Products <span class="btn btn-default"><a ui-sref="administrator.newProduct">Add New</a></span></h3>
		<div class="admin-ps-heading row">
			<div class="admin-thumb-list col-sm-2">Picture</div>
			<div class="admin-p-title col-sm-3 text-center">Title</div>
			<div class="admin-p-price col-sm-2 text-center">Price</div>
			<div class="admin-p-category col-sm-2 text-center">Category</div>
			<div class="admin-p-stock col-sm-2 text-center">Quantity</div>
		</div>
	
	</div>
	<div class="panel-body">
	
		<div class="admin-p-rows" ng-repeat="product in products">
			<img src="{{ product.photo }}" class="admin-thumb-list col-sm-2" />
			<div class="admin-p-info">
				<div class="admin-p-title col-sm-3"><a ui-sref="administrator.product({id: product._id})">{{ product.title }}</a></div>
				<div class="admin-p-price col-sm-2 text-center">{{ product.price | currency }}</div>
				<div class="admin-p-category col-sm-2 text-center">
					<span ng-repeat="category in product.categories">{{ category.name }}</span>
				</div>
				<div class="admin-p-stock col-sm-2 text-center">{{ product.stock }}</div>
			</div>
			<div class="admin-p-menu">
				<div class="col-sm-1">
					<a ui-sref="administrator.product({id: product._id})">Edit</a>
				</div>
				<div class="col-sm-1">
					<a href="#" ng-click="delete(product._id)">Delete</a>
				</div>
			</div>
		</div>
	
	</div>
</div>












