navbar {

  display: block;
  background: #000;

  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: #ccc;
    &:hover {
      color: #fff;
    }
  }
  .navbar {
    margin-bottom: 0;
  }

  .nav > li > a {
    font-size: 18px;
    font-weight: 300;
    background-color: #000;
    cursor: pointer;
    &.active {
      color: #fff;
    }
    &:hover {
      background-color: #fff;
      color:#333;
      transition: all 0.2s;
    }
    &:focus {
      color: #fff;
      background: transparent;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 300;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 300;
    span {
      color: white;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}