navbar {

  display: block;
  background: transparent;

  fullstack-logo {
    xpadding-top: 10px;
    xmargin-right: 20px;
    width: 120px;
  }

  a {
    color: #000;
    &:hover {
      color: #fff;
    }
  }
  .navbar {
    margin-bottom: 0;

    .navbar-nav {
      margin-top: 30px;
    }
  }

  .nav > li > a {
    font-size: 18px;
    font-weight: 300;
    background-color: transparent;
    cursor: pointer;
    &.active {
      color: #000;
    }
    &:hover {
      color:#333;
      background-color: transparent;
      transition: all 0.2s;
    }
    &:focus {
      color: #000;
      background-color: transparent;
      background: transparent;
    }
  }

  .login-button {
    background-color: #000;
    color: #fff;
    float: right;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 300;
    &:hover{
      color:#fff;
      background-color: #333;
    }
  }

  .welcome {
    float: right;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 300;
    span {
      color: white;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}