<h2> Purchase your Cart! </h2>
<br>
<form name="checkoutForm" ng-submit="checkoutForm.$valid && submitCard(card)" novalidate>
    <span class="error" ng-show="checkoutForm.question.$invalid && checkoutForm.$submitted">Question is not valid.</span>
    <label>Credit Cart Number</label>
    <input name="ccNum" ng-minlength="15" ng-maxlength="15" required type="number" ng-model="card.ccNum"/><br>
    <label>CC Provider:</label>
    <select required ng-model="card.ccProvider">
        <option>American Express</option>
        <option>Visa</option>
        <option>Mastercard</option>
        <option>Discover</option>
    </select>
    <br><br>
    <label>Expiration:</label><br>
    <label>Month</label>
    <select required ng-model="card.ccExpMonth">
        <option ng-repeat="i in getNumber(month) track by $index">{{ $index + 1 }}</option>
    </select>
    <label>Day</label>
    <select required ng-model="card.ccExpDay">
        <option ng-repeat="i in getNumber(day) track by $index">{{ $index + 1 }}</option>
    </select>
    <br><br>
    <div class="btn-group" role="group" aria-label="...">
      <a class="btn btn-success" role="button">Purchase Cart</a>
    </div>
</form>
<br>
<h4>Credit Card object displayed for testing here...</h4>
<br>
<pre>
{{ card | json }}
</pre>