<h2> Purchase your Cart! </h2>
<br>
<form name="checkoutForm" ng-submit="checkoutForm.$valid && submitForToken()" novalidate>
    <span class="error" ng-show="checkoutForm.question.$invalid && checkoutForm.$submitted">Question is not valid.</span>
    <label>Credit Cart Number:</label>
    <input 
    	name="ccNum" 
    	ng-minlength="15" 
    	ng-maxlength="19"
    	data-ng-pattern="/^[0-9]+$/" 
    	required 
    	type="number" 
    	ng-model="card.ccNum"
    	placeholder="Card Number..."/>
    <br>
    <label>CVC</label>
    <input 
        name="cvcNum"
        ng-minlength="3"
        ng-maxlength="4"
        type="number"
        data-ng-pattern="/^[0-9]+$/"
        ng-model="card.cvcNum"
        placeholder="CVC"/>
    <br>
    <label>CC Provider:</label>
    <select required ng-model="card.ccProvider">
        <option value="">...</option>
            <option value="visa">Visa</option>
            <option value="discover">Discover</option>
            <option value="mastercard">MasterCard</option>
            <option value="maestro">Maestro</option>
            <option value="amex">American Express</option>
            <option value="dinersclub">Diners Club</option>
    </select>
    <br><br>
    <label>Expiration:</label><br>
    <label>Month</label>
    <select 
    	required 
    	ng-model="card.ccExpMonth"
    	placeholder="00">
        <option ng-repeat="i in getNumber(month) track by $index">{{ $index + 1 }}</option>
    </select>
    <label>Day</label>
    <select 
    	required 
    	ng-model="card.ccExpDay"
    	placeholder="00">
        <option ng-repeat="i in getNumber(day) track by $index">{{ $index + 1 }}</option>
    </select>
    <label>Year</label>
    <select 
        required 
        ng-model="card.ccExpYear"
        placeholder="00">
        <option ng-repeat="i in getNumber(year) track by $index">{{ $index + thisYear }}</option>
    </select>
    <br><br>
    <div class="btn-group" role="group" aria-label="...">
      <button type="submit" class="btn btn-success" ng-disabled="checkoutForm.$invalid">Purchase Cart</button>
    </div>
    <div><h5 id="ccError" class="cc-error" ng-show="ccProcessingError">The transaction has failed unfortunately, please try again.</h5>
</form>
<br>
<h4>Credit Card object displayed for testing here...</h4>
<br>
<pre>
{{ card | json }}
</pre>
<h4>Checkout Cart appears here...</h4>
<pre>
{{ cartInfo | json }}
</pre>