<div class="panel panel-default">
	<div class="panel-heading">
	
		<h3 class="admin-title">All Users <span class="btn btn-default"><a ui-sref="administrator.newUser">Add New</a></span></h3>
		<div class="admin-u-heading row">
			<div class="admin-u-name col-sm-2 text-center">Name</div>
			<div class="admin-u-username col-sm-2 text-center">Username</div>
			<div class="admin-u-email col-sm-2 text-center">Email</div>
			<div class="admin-u-role col-sm-1 text-center">Role</div>
			<div class="admin-u-twitter col-sm-1 text-center">Twitter</div>
			<div class="admin-u-facebook col-sm-1 text-center">Facebook</div>
			<div class="admin-u-google col-sm-1 text-center">Google</div>
		</div>
	
	</div>
	<div class="panel-body">

		<div class="admin-u-rows" ng-repeat="user in users">
			<div class="admin-u-info row">
				<div class="admin-u-name col-sm-2 text-center"><a ui-sref="administrator.user({id: user._id})">{{ user.name }}</a></div>
				<div class="admin-u-username col-sm-2 text-center">{{ user.username }}</div>
				<div class="admin-u-email col-sm-2 text-center">{{ user.email }}</div>
				<div class="admin-u-role col-sm-1 text-center">{{ user.role }}</div>
				<div class="admin-u-twitter col-sm-1 text-center"><i ng-show="user.facebook" class="fa fa-facebook"></i></div>
				<div class="admin-u-facebook col-sm-1 text-center"><i ng-show="user.google" class="fa fa-google-plus"></i></div>
				<div class="admin-u-google col-sm-1 text-center"><i ng-show="user.twitter" class="fa fa-twitter"></i></div>
				<div class="col-sm-1 text-center"><a ui-sref="administrator.user({id: user._id})">Edit</a></div>
				<div class="col-sm-1 text-center"><a href="#" ng-click="delete(user._id)">Delete</a></div>
			</div>
		</div>
	
	</div>
</div>











